#playerButtons.mini {

  height: 80px;
  text-align: left;
  width: 100px;
  float: left;
  display: block;
  @include breakpoint(xs) {
    width: 75px;
  };
  .fa {
    margin-left: 1px;
    margin-top: 1px;
    font-size: 20px;
  }

  .skip-forward {
    float: left;
    display: block;
    margin-top: 0px;
    height: 80px;
    width: 25px;
    padding: 0px;
    padding-top: 10px;
  }

  .skip-backward {
    float: left;
    display: block;
    margin-top: 0px;
    height: 80px;
    width: 25px;
    padding: 0px;
    padding-top: 10px;
    @include breakpoint(xs) {
      display:none;
    };
  }

  .playPauseBtnWrapper {
    float: left;
    position: unset;
    display: block;
    width: 40px;
    height: 80px;
    padding-top: 25px;
  }
  .playPauseBtnGreyWrapper {
    height: 25px;
    position: unset;
  }
  .playPause {
    float:left;
    position: unset;
    margin: 0px;
    border: none;
    height: 25px;
    width: 25px;
  }
}

#playerButtons {

  height: 80px;
  text-align: center;
  width: 100%;
  .fa {
    margin-left: 1px;
    margin-top: 1px;
    font-size: 25px;
  }

  .skip-forward {
    margin-top: 15px;
  }
  .skip-backward {
    margin-top: 15px;
  }

  .playPauseBtnWrapper {
    position: relative;
    display: inline-block;
    width: 80px;
  }
  .playPauseBtnGreyWrapper {
    // border: solid 1px red;
    position: absolute;
    margin: auto;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    top: -35px;
  }
  .playPause {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 3px #FFFFFF;
    //box-shadow: inset 0px 0px 4px 2px #ffffff83;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    &.play i{
      padding-left: 4px;
    }
  }
  .repeat-button{
    margin-top: 15px;
    margin-right: 10px;
    @include breakpoint(xs) {
      display: none;
    };
    i{
      @media all and (max-height: 500px) {
        padding-top: 10px;
      }
    }

    .fa {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.75);
    }

    &:hover{
      color: inherit;
    }
    &:active{
      color: inherit;
    }
    &.active{
      .fa {
        color: $theme-link-hover-color;
      }      
    }
  }

  #shuffle-button{
    margin-top: 15px;
    margin-left: 10px;
    @include breakpoint(xs) {
      display: none;
    };
    i{
      @media all and (max-height: 500px) {
        padding-top: 10px;
      }
    }

    .fa {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.75);
    }

    &:hover{
      color: inherit;
    }
    &:active{
      color: inherit;
    }
    &.active{
      .fa {
        color: $theme-link-hover-color;
      }
    }
  }
}
