#playerSeekbar.mini{
  margin-left:0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  height: 4px;
  .slider-handle{
    display: none;
    margin-left:0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    height: 0px;
    width: 0px;
  }
  .tooltip{
    display: none;
    margin-left:0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    height: 0px;
    width: 0px;
  }
  .slider-track{
    height: 4px !important;
    background: transparent !important;
    background-color:rgba(255, 255, 255, 0.349) !important;
  }
  .slider-track-high{
    //background-color: $theme-dark-grey;
    background-image: none;
    border-radius: 0px !important;
  }
  .slider-selection{
    //background-image: $theme-slider-bar-full-gradient;
    border-radius: 0px !important;
    border: 0px !important;
  }
  .slider{
    height:10px;
  }
}

#playerSeekbar{
  margin-top: 0px;
  margin-left:45px;
  margin-right: 45px;
  margin-bottom: 3px;

  @include breakpoint(xs) {
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 5px;
  }

  .time-label{
    font-size: 16px;
    margin-bottom: 8px;
  }

    line-height: 0px;
    padding-top: 6px;
    .slider-track{
      height: 5px !important;
      background: transparent !important;
      background-color:rgba(255, 255, 255, 0.151) !important;
    }

    .slider-selection{
      //background-image: $theme-slider-bar-full-gradient;
      border-radius: 0px !important;
      border: 0px !important;
    }

    .slider-track-high{
      //background-color: $theme-dark-grey;
      background-image: none;
      border-radius: 0px !important;
    }

    .slider-handle{
        //background-color: $theme-primary-color !important;
        //background-image: none !important;
        display: none;
        border: none !important;
        height: 16px !important;
        width: 8px !important;
        margin-left: -3px !important;
        margin-top: -6px !important;
        background-color:rgba(255, 255, 255, 0.151) !important;
    }

    .slider-handle.round{
      border-radius: initial !important;
    }

    .time-left, .time-right{
      line-height: initial;
    }

    .time-left{
      @media all and (max-width: 720px){
          $timer-number-color-mobile: false !default;
          @if $timer-number-color-mobile {
            color: $timer-number-color-mobile;
          }
      }
    }

    .time-right{
      @media all and (max-width: 720px){
        $timer-number-color-mobile: false !default;
        @if $timer-number-color-mobile {
          color: $timer-number-color-mobile;
        }
      }
    }
}

.seekbar-times{
  font-size: smaller;
}
