#trackInfoArt {
  text-align: right;
  margin-top: 90px;
  padding-right: 25px;
  @media all and (max-height: 750px) {
    margin-top: 30px;
  }

  @include breakpoint(lg) {
    padding-right: 50px;
  }

  @include breakpoint(xs) {
    text-align: center;
    padding-right: 0px;
  }

  img {
    width:85%;
    margin: 10px auto;
    max-width: 450px;
    max-height: 450px;
    //border: 10px solid rgba(0,0,0,0.5);
    border-radius: 15px;
    @include breakpoint(lg) {
      max-width: 600px;
      max-height: 600px;
    }
    @include breakpoint(xs) {
      max-width: 400px;
      max-height: 400px;
    }
    @media all and (max-height: 750px) {
      max-width: 375px;
      max-height: 375px;
    }
    @media all and (max-height: 500px) {
      max-width: 230px;
      max-height: 230px;
    }
  };
}

#trackInfoArt.mini {
  @include make-xs-column(24);
  // border: solid 1px #999;
  text-align: center;
  margin-top: 0px;
  float: left;
  width: 80px;
  height: 80px;
  margin: 0px;
  padding: 0px;
  img {
    width:80px;
    height: 80px;
    margin: 0px;
    max-width: 80px;
    max-height: 80px;
    //border: 10px solid rgba(0,0,0,0.5);
    border-radius: 0px;    
  };
}

