#trackInfoArt {
  text-align: right;
  margin-top: 90px;
  padding-right: 25px;
  @media all and (max-height: 720px) {
    margin-top: 70px;
  }
  @media all and (max-height: 480px) {
    margin-top: 45px;
  }

  @include breakpoint(lg) {
    padding-right: 50px;
  }

  @include breakpoint(xs) {
    text-align: center;
    padding-right: 0px;
  }

  img {
    width:85%;
    margin: 10px auto;
    max-width: 450px;
    max-height: 450px;
    //border: 10px solid rgba(0,0,0,0.5);
    border-radius: 15px;
    @include breakpoint(lg) {
      max-width: 550px;
      max-height: 550px;
    }
    @media all and (max-height: 720px) {
      max-width: 420px;
      max-height: 420px;
    }
    @media all and (max-height: 600px) {
      max-width: 320px;
      max-height: 320px;
    }
    @media all and (max-height: 500px) {
      max-width: 230px;
      max-height: 230px;
    }
    @media all and (max-height: 380px) {
      max-width: 180px;
      max-height: 180px;
    }
    @include breakpoint(xs) {
      width:90%;
      max-width: 350px;
      max-height: 350px;
    }
  };
}

#trackInfoArt.mini {
  @include make-xs-column(24);
  // border: solid 1px #999;
  text-align: center;
  margin-top: 0px;
  float: left;
  width: 80px;
  height: 80px;
  margin: 0px;
  padding: 0px;
  img {
    width:80px;
    height: 80px;
    margin: 0px;
    max-width: 80px;
    max-height: 80px;
    //border: 10px solid rgba(0,0,0,0.5);
    border-radius: 0px;    
  };
}

