<div class="footerContent">   
  <player-seekbar></player-seekbar>
  <track-info-art ng-if="state.current.url != 'playback'"></track-info-art>
  <track-info ng-if="state.current.url != 'playback'"></track-info>
  <player-buttons></player-buttons>
  <side-menu ng-if="state.current.url === 'playback'"></side-menu>
  <volume-manager type="slider" ng-if="state.current.url === 'playback'"></volume-manager>
  <button
      ng-if="state.current.url === 'playback'"
      ui-sref="volumio.play-queue"
      class="btn btn-link queueBtn"
      ng-mouseenter="hover = 'queue'"
      ng-mouseleave="hover = ''"
      ng-class="{selected: state.current.name === 'volumio.play-queue'}">
    <img ng-src="{{variantAssetsUrl}}/icons/queue{{(hover === 'queue' || state.current.name === 'volumio.play-queue')?'-selected':''}}.svg" alt="{{'COMMON.TAB_QUEUE' | translate}}"/>
  </button>
</div>
